.createpost
{
    background-image: url("../Images/hi6.png");
    width: 100vw;
    height: 93.1vh;
}

.createpostflex{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: rgba(255, 255, 255, 0.327); */
    background-color: rgba(255, 255, 255, 0.178);
    border:1px solid rgb(185, 185, 185);

    backdrop-filter: blur(50px);
    border-radius: 20px;
    width: 480px;
    height: 500px;
    padding: 20px;
}

.titleinput
{
    all: unset;
    background-color: rgba(160, 160, 160, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.titlecreatepost
{
    text-align: center;
    color: rgb(148, 148, 148);
}

.bloginput
{
    
    all: unset;

    background-color: rgba(160, 160, 160, 0.3);
    border-radius: 10px;
    padding: 10px;
}

textarea::-webkit-scrollbar{
    
}

.submitcreatepost
{
    margin-top: 20px;
    align-self: center;
    width: 240px;
    height: 30px;
    padding: 5px;
    background-color: rgb(157,189,181);
    color: white;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    
    text-align: center;
    cursor: pointer;

}

.createposterror{
    color: rgb(255, 91, 91);
}

.guidelines
{
    width: 20px;
    height: 20px;
}


Modal
{
    all: unset;
   
}

.createpostmodal
{
   border:1px solid rgb(185, 185, 185);
    width: 600px;
   
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    padding: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cross
{
    width: 40px;
    height: 40px;
}


.createpostmodalflex1
{
    width: 550px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headingguidelines
{display: inline;}


.contentwriting
{
    width: 250px;
    height: 250px;
    align-self: center;
}

.createpostheadings
{
    color: rgb(90, 160, 240);
}




.createloadingmodal
{
    all: unset;
    width: 100vw;
    height: 100vh;
    background-color: white;

    position: absolute;

   
}

.loadingimage
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


